

#abecedaire{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'Palace';
    src: url('../font/Palace.ttf') format('truetype'); /* Safari, Android, iOS */

}

header h1{
  font-size: 200%;
  text-align: center;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    font-weight: normal;
}
body{
  font-family: 'Palace';
}

html{
  background-image: url("../images/maquette-Willy.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment:fixed;


}

header{

height: 200px;
font-size: 300%;

}
header a{
  margin: 15px;

  }
svg {
  width: 100%;
}
svg #Vinyle_1_{
      transform: translate(-120px);
}
svg:hover #Vinyle_1_{
      transform: translate(0px);
}
#Vinyle:hover{
  animation:tourne 4s linear infinite;
  transform-origin: 400.22px 171.29px;

}
@keyframes tourne
{
   100%
   {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
     }
   }

#PochetteA .st3{
  fill: blue !important;
}



#abecedaire div {
  font-size: 4em;
  margin: 0;
}
figcaption {
  font-size: 0.3em;
}
.wrapper{
  padding-top: 200px;
}
.one{
position: relative;
}
.one img{
  position: absolute;
}
#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 50%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}
@media screen and (max-width: 1200px) {
  #abecedaire {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
  }
  svg {
    width: 50%;
  }
  html{
    background-attachment:fixed;
    background-size: cover;
  }
}
