

#abecedaire{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('../font/Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
h1{
  text-align: center;
}
body{
  font-family: 'OpticianSans';
}
header{
position: fixed;
height: 200px;
}
svg {
  width: 100%;
}
svg #Vinyle_1_{
      transform: translate(-120px);
}
svg:hover #Vinyle_1_{
      transform: translate(0px);
}
#Vinyle:hover{
  animation:tourne 4s linear infinite;
  transform-origin: 400.22px 171.29px;

}
@keyframes tourne
{
   100%
   {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
     }
   }

#abecedaire div {
  font-size: 4em;
  margin: 0;
}
figcaption {
  font-size: 0.3em;
}
.wrapper{
  padding-top: 200px;
}
.one{
position: relative;
}
.one img{
  position: absolute;
}
#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}
@media screen and (max-width: 1200px) {
  #abecedaire {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
  }
}
