

#abecedaire{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('../font/Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body{
  font-family: 'OpticianSans';
}
p {
  border: solid 1px green;
  font-size: 7em;

}

#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
